<div class="ccr-last-update">
  <div class="update-ribon">Bài viết mới</div> <!-- /.update-ribon -->
  <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
  <div class="update-news-text" id="update-news-text">
    <ul id="latestUpdate">
        <% @news.each do |news| %>
         <li> <marquee direction="left" behaviour="scroll"> <%= link_to news.title, {:action => 'news_detail', :id => news.id} %></marquee></li>
        <% end %>
    </ul>
  </div> <!-- /.update-text -->

  <div class="update-right-border"></div> <!-- /.update-right-border -->
</div> <!-- / .ccr-last-update -->


<!--INDEX-->
<section id="ccr-slide-main" class="carousel slide" data-ride="carousel">	<!--SLIDE-->

  <!-- Carousel items -->
  <div class="carousel-inner">
    <!--<div class="active item">
      <div class="container slide-element">
        <img src="img/slide/pic1.jpg" alt="Main Slide Image 1">
        <p><a href="#">Khuôn viên Trường Đại học Oxford</a></p>
      </div> <!-- /.slide-element -->
   <!-- </div> <!--/.active /.item -->

    <% @slide.each_with_index do |slide, list_pos| %>
    <% photo_class = list_pos == 0 ? "active item" : "item"%>
      <div class=<%= photo_class %>>
      <div class="container slide-element">
         <%= image_tag slide.location %>
         <p><%= link_to slide.description %></p>
      </div>
    </div>
    <% end %>

  </div> <!-- /.carousel-inner -->

  <!-- slider nav
  <a class="carousel-control left" href="#ccr-slide-main" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
  <a class="carousel-control right" href="#ccr-slide-main" data-slide="next"><i class="fa fa-arrow-right"></i></a>
 -->
  <ol class="carousel-indicators">
    <li data-target="#ccr-slide-main" data-slide-to="0" class="active"></li>
    <li data-target="#ccr-slide-main" data-slide-to="1"></li>
    <li data-target="#ccr-slide-main" data-slide-to="2"></li>
    <li data-target="#ccr-slide-main" data-slide-to="3"></li>
  </ol> <!-- /.carousel-indicators -->


</section><!-- /#ccr-slide-main -->


<!--TIN TỨC-->
<section id="ccr-latest-post-gallery">
  <div class="ccr-gallery-ttile">
    <span></span>
    <p><%= link_to 'TIN TỨC', home_news_path %></p>
  </div><!-- .ccr-gallery-ttile -->

  <ul class="ccr-latest-post">
    <% @news.each do |news| %>
        <li>
          <div class="ccr-thumbnail">
            <%= image_tag news.image_url(:thumb) %>
            <p><%= link_to "Đọc thêm", {:action => 'news_detail', :id => news.id} %></p>
          </div>
          <h4>
            <%= link_to news.title,{:action => 'news_detail', :id => news.id} %>
          </h4>
        </li>
    <% end %>
  </ul> <!-- /.ccr-latest-post -->
</section> <!--  /#ccr-latest-post-gallery  -->
<section class="bottom-border"></section>



<!--CHÂU Á-->
  <section id="ccr-latest-post-gallery">
    <div class="ccr-gallery-ttile">
      <span></span>
      <p>Châu Á</p>
    </div><!-- .ccr-gallery-ttile -->

    <ul class="ccr-latest-post">
      <% @asia.each do |asia| %>
          <li>
            <div class="ccr-thumbnail">
              <%= image_tag asia.image_url(:thumb) %>
              <p><%= link_to "Đọc thêm", {:action => 'news_detail', :id => asia.id} %></p>
            </div>
            <h4>
              <%= link_to asia.name,{:action => 'news_detail', :id => asia.id} %>
            </h4>
          </li>
      <% end %>
    </ul> <!-- /.ccr-latest-post -->
  </section> <!--  /#ccr-latest-post-gallery  -->
  <section class="bottom-border">    </section>



<!--CHÂU Âu-->
<section id="ccr-latest-post-gallery">
  <div class="ccr-gallery-ttile">
    <span></span>
    <p>Châu Âu</p>
  </div><!-- .ccr-gallery-ttile -->

  <ul class="ccr-latest-post">
    <% @europe.each do |europe| %>
        <li>
          <div class="ccr-thumbnail">
            <%= image_tag europe.image_url(:thumb) %>
            <p><%= link_to "Đọc thêm", {:action => 'news_detail', :id => europe.id} %></p>
          </div>
          <h4>
            <%= link_to europe.name,{:action => 'news_detail', :id => europe.id} %>
          </h4>
        </li>
    <% end %>
  </ul> <!-- /.ccr-latest-post -->
</section> <!--  /#ccr-latest-post-gallery  -->
<section class="bottom-border">    </section>



<!--CHÂU Mỹ-->
<section id="ccr-latest-post-gallery">
  <div class="ccr-gallery-ttile">
    <span></span>
    <p>Châu Mỹ</p>
  </div><!-- .ccr-gallery-ttile -->

  <ul class="ccr-latest-post">
    <% @america.each do |america| %>
        <li>
          <div class="ccr-thumbnail">
            <%= image_tag america.image_url(:thumb) %>
            <p><%= link_to "Đọc thêm", {:action => 'news_detail', :id => america.id} %></p>
          </div>
          <h4 align="center">
            <%= link_to america.name,{:action => 'news_detail', :id => america.id} %>
          </h4>
        </li>
    <% end %>
  </ul> <!-- /.ccr-latest-post -->
</section> <!--  /#ccr-latest-post-gallery  -->
<section class="bottom-border">    </section>



<!--CHÂU Úc-->
<section id="ccr-latest-post-gallery">
  <div class="ccr-gallery-ttile">
    <span></span>
    <p>Châu Úc</p>
  </div><!-- .ccr-gallery-ttile -->

  <ul class="ccr-latest-post">
    <% @australia.each do |australia| %>
        <li>
          <div class="ccr-thumbnail">
            <%= image_tag australia.image_url(:thumb) %>
            <p><%= link_to "Đọc thêm", {:action => 'news_detail', :id => australia.id} %></p>
          </div>
          <h4>
            <%= link_to australia.name,{:action => 'news_detail', :id => australia.id} %>
          </h4>
        </li>
    <% end %>
  </ul> <!-- /.ccr-latest-post -->
</section> <!--  /#ccr-latest-post-gallery  -->
<section class="bottom-border">    </section>
